html, body {
	margin: 0px;
	padding: 0px;
}

div {
	margin: 0px;
	padding: 0px;
}

#left_bar, #lvl {
	display: inline-block;
}

#left_bar {
	float: left;
}

#left_bar div {
	border: black solid 1px;
}

#lvl_adder {
	height: 100px;
	padding: 30px;
	text-align: center;
}

#lvl_type {
	margin: 15px;
}

#lvl_list {
	overflow-x: hidden;
  overflow-y: auto;
}
