html, body {
	margin: 0px;
	padding: 0px;
}

div {
	margin: 0px;
	padding: 0px;
}

table {
    border-collapse: collapse;
}

#left_bar, #lvl {
	display: inline-block;
}

#left_bar {
	float: left;
}

#left_bar div {
	border: black solid 1px;
}

#lvl_adder {
	height: 100px;
	padding: 20px;
	text-align: center;
}

#lvl_type, #lvl_add, #lvl_save {
	margin: 7px;
}

#lvl_list {
	overflow-x: hidden;
  overflow-y: auto;
}

/* Face */

.face td {
	border: solid black 1px;
}

.inter_square {
	width: 10px;
	height: 10px;
}

.horizontal_wall {
	width: 50px;
	height: 10px;
}

.vertical_wall {
	width: 10px;
	height: 50px;
}

.tile {
	width: 50px;
	height: 50px;
}
